<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NAV_HR_WINDOW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NAV_HR_WINDOW.Properties.Settings>
            <setting name="NAV_HR_WINDOW_ReLeavers_Releavers_Service" serializeAs="String">
                <value>http://nav_test.pensure-nigeria.com:1147/PENSURETESTFUND/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/Releavers</value>
            </setting>
            <setting name="NAV_HR_WINDOW_RCenter_ResponsibilityCenter_Service"
                serializeAs="String">
                <value>http://nav_test.pensure-nigeria.com:1147/PENSURETESTFUND/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/ResponsibilityCenter</value>
            </setting>
            <setting name="NAV_HR_WINDOW_NoSeries_NoSerialIntegration_Service"
                serializeAs="String">
                <value>http://nav_test.pensure-nigeria.com:1147/PENSURETESTFUND/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/NoSerialIntegration</value>
            </setting>
            <setting name="NAV_HR_WINDOW_LeaveAcknowledgment_LeaveAcknowledgmentCard_Service"
                serializeAs="String">
                <value>http://nav_test.pensure-nigeria.com:1147/PENSURETESTFUND/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/LeaveAcknowledgment</value>
            </setting>
            <setting name="NAV_HR_WINDOW_LeaveAcknowledgmentList_LeaveAcknowledgmentList_Service"
                serializeAs="String">
                <value>http://nav_test.pensure-nigeria.com:1147/PENSURETESTFUND/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/LeaveAcknowledgmentList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_ApprovalEntry_ApprovalEntry_Service"
                serializeAs="String">
                <value>http://nav_test.pensure-nigeria.com:1147/PENSURETESTFUND/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/ApprovalEntry</value>
            </setting>
            <setting name="NAV_HR_WINDOW_AccountChart_AccChart_Service" serializeAs="String">
                <value>http://nav_test.pensure-nigeria.com:1147/PENSURETESTFUND/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/AccChart</value>
            </setting>
            <setting name="NAV_HR_WINDOW_NoSeries_Service_NoSerialIntegration_Service"
                serializeAs="String">
                <value>http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/NoSerialIntegration</value>
            </setting>
            <setting name="NAV_HR_WINDOW_ItemLedgerEntries_Service_ItemLedgerEntries_Service"
                serializeAs="String">
                <value>http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/ItemLedgerEntries</value>
            </setting>
            <setting name="NAV_HR_WINDOW_ProbationConfirmationList_Service_ProbationConfirmationList_Service"
                serializeAs="String">
                <value>http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/ProbationConfirmationList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_ProbationConfirmationCard_Service_ConfirmationCard_Service"
                serializeAs="String">
                <value>http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/ConfirmationCard</value>
            </setting>
            <setting name="NAV_HR_WINDOW_ProbationConfirmationLines_ConfirmationLines_Service"
                serializeAs="String">
                <value>http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/ConfirmationLines</value>
            </setting>
            <setting name="NAV_HR_WINDOW_HR_AppraisalH_Service_HRAppraisalH_Service"
                serializeAs="String">
                <value>http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/HRAppraisalH</value>
            </setting>
            <setting name="NAV_HR_WINDOW_HR_AppraisalSelfEvaluationList_Service_SelfEvaluation_Service"
                serializeAs="String">
                <value>http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/SelfEvaluation</value>
            </setting>
            <setting name="NAV_HR_WINDOW_HR_AppraisalSelfEvaluation_Service_HRAppraisalSelfEvaluation_Service"
                serializeAs="String">
                <value>http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/HRAppraisalSelfEvaluation</value>
            </setting>
            <setting name="NAV_HR_WINDOW_HR_AppraisalBehavour_Service_HRAppraisalBehavoirA_Service"
                serializeAs="String">
                <value>http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/HRAppraisalBehavoirA</value>
            </setting>
            <setting name="NAV_HR_WINDOW_LocationList_Service_LocationList_Service"
                serializeAs="String">
                <value>http://nav_app_rep.pensure-nigeria.com:9047/BC140/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/LocationList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_HRSetup_Service_HRSetup_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/HRSetup</value>
            </setting>
            <setting name="NAV_HR_WINDOW_EmployeeList_Service_EmployeeList_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/EmployeeList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_ReLeavers_Service_Releavers_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/Releavers</value>
            </setting>
            <setting name="NAV_HR_WINDOW_RCenter_Service_ResponsibilityCenter_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/ResponsibilityCenter</value>
            </setting>
            <setting name="NAV_HR_WINDOW_LeaveTypes_Service_LeaveTypes_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/LeaveTypes</value>
            </setting>
            <setting name="NAV_HR_WINDOW_LeaveCard_Service_LeaveApplication_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/LeaveApplication</value>
            </setting>
            <setting name="NAV_HR_WINDOW_LeaveApplicationList_Service_LeaveApplicationAll_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/LeaveApplicationAll</value>
            </setting>
            <setting name="NAV_HR_WINDOW_EmployeeCard_Service_HREmployeeCard_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/HREmployeeCard</value>
            </setting>
            <setting name="NAV_HR_WINDOW_ApprovalEntries_ApprovalEntries_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/SHFApprovalEntries</value>
            </setting>
            <setting name="NAV_HR_WINDOW_General_Service_pfagetbalance" serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Codeunit/pfagetbalance</value>
            </setting>
            <setting name="NAV_HR_WINDOW_HRCanteenApplicationList_Service_HRCanteenApplicationList_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/HRCanteenApplicationList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_HRCanteenApplication_Service_HRCanteenApplicationCard_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/HRCanteenApplicationCard</value>
            </setting>
            <setting name="NAV_HR_WINDOW_StaffClaimList_Service_StaffClaimList_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/StaffClaimList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_StaffClaim_Service_StaffClaim_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/StaffClaim</value>
            </setting>
            <setting name="NAV_HR_WINDOW_RecieptPaymentTypesList_Service_ReceiptAndPaymentTypesList_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/ReceiptAndPaymentTypesList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_StoreRequisition_Service_StoreRequisitionHeder_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/StoreRequisitionHeder</value>
            </setting>
            <setting name="NAV_HR_WINDOW_StoreRequisitionList_Service_StoreRequisitionList_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/StoreRequisitionList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_ItemList_Service_ItemList_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/ItemList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_PaymentRequest_Service_PaymentRequest_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/PaymentRequest</value>
            </setting>
            <setting name="NAV_HR_WINDOW_PaymentRequestList_Service_PaymentRequestList_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/PaymentRequestList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_StoreRequisitionLine_Service_Store_Requisition_Line_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/Store_Requisition_Line</value>
            </setting>
            <setting name="NAV_HR_WINDOW_PaymentRequestLines_Service_PaymentLine_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/PaymentLines</value>
            </setting>
            <setting name="NAV_HR_WINDOW_StaffClaimLine_Service_StaffClaimLine_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/StaffClaimLine</value>
            </setting>
            <setting name="NAV_HR_WINDOW_PaymentVoucherList_Service_PaymentVoucherList_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/PaymentVoucherList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_StaffAdvanceRequest_Service_StaffAdvanceRequest_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/StaffAdvanceRequest</value>
            </setting>
            <setting name="NAV_HR_WINDOW_StaffAdvanceLines_Service_StaffAdvanceLines_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/StaffAdvanceLines</value>
            </setting>
            <setting name="NAV_HR_WINDOW_StaffAdvanceList_Service_StaffAdvanceRequests_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/StaffAdvanceRequests</value>
            </setting>
            <setting name="NAV_HR_WINDOW_WorkRetirementList_Service_WorkRetirementList_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/WorkRetirementList</value>
            </setting>
            <setting name="NAV_HR_WINDOW_WorkRetirement_Service_WorkRetirement_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/WorkRetirement</value>
            </setting>
            <setting name="NAV_HR_WINDOW_WorkRetirementLine_Service_RetirementLine_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/RetirementLine</value>
            </setting>
            <setting name="NAV_HR_WINDOW_LocationCodes_Service_LocationCodes_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/LocationCodes</value>
            </setting>
            <setting name="NAV_HR_WINDOW_SHFApprovalEntries_SHFApprovalEntries_Service"
                serializeAs="String">
                <value>http://nav_app.pensure-nigeria.com:14047/LPPFABC/WS/PENSURE%20SHAREHOLDERS%20FUNDS/Page/SHFApprovalEntries</value>
            </setting>
        </NAV_HR_WINDOW.Properties.Settings>
    </applicationSettings>
</configuration>